body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #fff;
}


.NavigationBar {
    border-bottom: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    background-color: #fff;
    border-color: #000;
    border-width: 3px;
    border-left: #000;
    border-right: #000;
    padding: 2rem;

}

.NavigationContainer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
    border-color: #000;
    border-width: 3px;
}

.Navigation-Links {
    display: flex;
    align-items: center;
    gap: 10rem;
    border-color: #000;
    border-width: 3px;
    cursor: pointer;
}

.Navigation-Links a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
}

.Navigation-Links a:hover {
    color: #007bff;
}

.Hero {
    text-align: center;
}

.Hero-Buttons {
    text-align: center;
}

#ViewProjectsButton {
    padding: 5px;
    font-weight: 500;
}

#ViewProjectsButton svg {
    margin-left: 10px;
    vertical-align: middle;
}


#ContactButton {
    padding: 9px;
    margin-left: 20px;
}

.Values {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-color: #f9f9f9;
    gap: 2rem;
}

#ValuesTitle {
    position: relative;
    top: 100px;
    left: 0px;
    text-align: center;
}

.Values-Card {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 100px;
    left: 0px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
    width: 200px;
    height: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.Values-Card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

.Values-Card h3 {
    margin-top: 0.5rem;
    font-size: 1.2rem;
    color: #333;
    text-align: center;
    display: block;
}

#LanguagesTitle {
    position: relative;
    top: 200px;
    left: 0px;
    text-align: center;
}

.Languages {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-color: #f9f9f9;
    position: relative;
    top: 200px;
    left: 0px;
}

.Language-Card {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 100px;
    left: 0px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
    width: 200px;
    height: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.Language-Card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

.Language-Card h2 {
    margin-top: 0.5rem;
    font-size: 1.2rem;
    color: #333;
    text-align: center;
    display: block;
}

.Language-Card h3 {
    margin-top: 0.5rem;
    font-size: 1.2rem;
    color: #333;
    text-align: center;
    display: block;
    font-size: 15px;
}

.Language-Icon img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}
